@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  @apply h-full;
}
body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.markdown h1 {
  @apply text-3xl mt-9 mb-5 font-bold border-b border-y-gray-300;
}
.markdown h2 {
  @apply text-2xl mt-8 mb-4 font-bold border-b border-y-gray-300;
}
.markdown h3 {
  @apply text-xl mt-6 mb-4 font-bold border-b border-y-gray-300;
}
.markdown blockquote {
  @apply mt-4 mb-4 border-l-4 border-gray-300;
}
.markdown img {
  @apply mt-4 mb-6;
}
/* Links */
.markdown a {
  @apply text-blue-600;
}
.markdown a:hover {
  @apply underline;
}
/* Lists */
.markdown ul,
.markdown ol {
  @apply mb-4 ml-8;
}
.markdown li > p,
.markdown li > ul,
.markdown li > ol {
  @apply mb-0;
}
.markdown ol {
  @apply list-decimal;
}
.markdown ul {
  @apply list-disc;
}

/* Code */
.markdown :not(pre) > code {
  @apply bg-indigo-50 p-1 font-semibold text-gray-600 rounded-lg ;
}

/* Pre */
.markdown pre {
  @apply overflow-x-auto bg-[#f5f7ff] pt-4 pb-4 pl-6 mt-6 mb-8;
}